/* #form_div {
  text-align: center;
  padding: 8px;
  background: #2c3e50;
  margin: 30px;
  padding: 100px;
} */

#form_div {
  text-align: center;
}
#city_input {
  margin: 5px;
}
/* #country_input {
  margin-left: 5px;
  margin-right: 8px;
} */
#get_weather_button {
  margin-top: 10px;
  margin-left: 8px;
}

/* For Firefox, Chrome, Opera */
input[type="text"]::placeholder {
  text-align: center;
}

/* For Internet Explorer 10-11 */
input[type="text"]:-ms-input-placeholder {
  text-align: center;
}

#city_text {
  text-align: center;
}
#country_text {
  text-align: center;
}

/* IPHONE X */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  #form_div {
    text-align: center;
  }
  #city_input {
    margin: 5px;
  }
  #get_weather_button {
    margin-top: 10px;
    margin-left: 8px;
  }
  /* For Firefox, Chrome, Opera */
  input[type="text"]::placeholder {
    text-align: center;
  }
  /* For Internet Explorer 10-11 */
  input[type="text"]:-ms-input-placeholder {
    text-align: center;
  }
  #city_text {
    text-align: center;
  }
  #country_text {
    text-align: center;
  }
}
