#title_div {
  padding: 15px;
  margin: 10px;
  margin-right: 10px;
  background: #2c3e50;
}

#title {
  text-align: center;
  color: white;
  font-size: 40px;
  font-family: 'Bitter', serif;
}
#description {
  text-align: center;
  color: white;
  font-family: 'Bitter', serif;
}
