#weather_div {
  text-align: center;
  padding: 15px;
}
p {
  font-size: 25px;
}
span {
  margin: 5px;
  color: black !important;
}
#location {
  /* color: #f16051; */
  color: white;
}
#temperature {
  /* color: #f16051; */
  color: white;
}
#humidity {
  /* color: #f16051; */
  color: white;
}
#condition {
  /* color: #f16051; */
  color: white;
}
