body {
  /* background: linear-gradient(to right, #d67e22, #d74c3c); */
  background:url('./images/weather.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(3px);
}
#weather_finder_div {
  padding: 15px;
  margin-bottom: 50px;
  /* background: #2c3e50; */
  margin: 25px;
}